<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a target="alaina" href="https://alainahardie.com"><span class="glyphicon glyphicon-user"></span> About</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="container">
    {{us-map}}
  </div>
</div>
