{{dynamic-high-charts mode=chartMode content=chartData chartOptions=chartOptions theme=theme}}

<ul class="PoliticalCompassPeopleList">
{{#each model as |person|}}
  <li>
    {{input type="checkbox" name="display" checked=person.display}}
    {{person.name}}
  </li>
{{/each}}
</ul>
